@import 'bourbon';

// ============
// Variables
// ============

// colors

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white

// fonts 

$primary-font: 'Ubuntu', sans-serif;

// ==============
// Primary Style
// ==============

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

body {
	font: {
		size: 100%;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-4;
}

body, html {
	height: 100%;
}

a {
	color: $color-1;
	text-decoration: none;
}

img {
	max-width: 100%;
}

.body {
	margin: 0 !important;
	padding: 0 !important;
}
.element {
	height:1000px;
	background-color: #ededed;
	font-size: 45px;
	border-top:1px solid #000;
	padding-top:55px;
	padding-left:10px;
}

.active {
	color:red !important;
}
